lightning
omegaconf
torch==2.7.1
diffusers
transformers
jsonargparse[signatures]==4.41.0
torchvision
timm
accelerate
gradio
wandb
webdataset
tensorboard
datasets
scikit-image
flash_attn-2.7.4.post1+cu12torch2.7cxx11abiFALSE-cp310-cp310-linux_x86_64.whl